@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Ultra&display=swap');

/* Global Styles */
html {
    scroll-behavior: smooth;
}

body {
    background-color: #111; /* cooler black */
    color: white;
    font-family: 'Ultra', serif;
}

a, a:hover, li {
    color: white;
    text-decoration: none;
    list-style-type: none;
}

a:hover {
    color: #734f9a;
}

/* Navbar Styles */
ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-family: 'Ultra', serif;
}

ul.navbar a {
    padding: 8px 16px;
    transition: background-color 0.3s ease;
}

ul.navbar a:hover {
    background-color: #734f9a;
    color:white;
}

/* Content Styles */
.content {
    font-family: 'PT Serif', serif;
}

section > ul {
    padding: 0;
    text-align: left;
}

.portrait{
    border-radius: 100%;
    width:30vw ; 
    height : auto;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Logo Styles */
.logo {
    font-family: 'Ultra', serif;
}
