@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Roboto:ital,wght@1,100&family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=PT+Serif&family=Roboto+Condensed:wght@300&family=Roboto:ital,wght@1,100&family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Roboto+Condensed:wght@300&family=Roboto:ital,wght@1,100&family=Ultra&display=swap');

/* Media Queries for Responsiveness*/

/* Tablet View */
@media only screen and (max-width: 1024px) and (min-width: 768px) {
    .gallery__image {
        
        width: 80%;
    }

    
    .content {
        font-size: 18px;
    }

    
    .gallery__column {
        width: 50%; 
    }
}

/* Mobile Phone View */
@media only screen and (max-width: 767px) {
    
    .gallery {
        flex-direction: column;
    }

    
    .gallery__column {
        width: 100%;
    }

    
    .content {
        font-size: 16px;
    }

    
    ul.navbar {
        flex-direction: column;
        align-items: center; 
    }

    ul.navbar a {
        padding: 10px 24px; 
    }
}
/* Global Styles */
html {
    scroll-behavior: smooth;
}

body {
    background-color: #111; /* cooler black */
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

a, a:hover, li {
    color: white;
    text-decoration: none;
    list-style-type: none;
}

a:hover {
    color: #734f9a;
}




/* Navbar Styles */
.header-navbar {
    list-style-type: none;
    margin: 0;
    padding: 10px 15px;
    display: flex;
    justify-content: center;    /* This centers them horizontally */
    font-family: 'Roboto', sans-serif;
}

.header-navbar li {
    margin: 10px 0;  /* Adds space between each list item */
}

.header-navbar a {
    padding: 8px 16px;
    transition: background-color 0.3s ease;
}

.header-navbar a:hover {
    background-color: #734f9a;
    color: white;
}



/* Content Styles */
.content {
    font-family: 'Roboto Condensed', sans-serif;
}

section > ul {
    padding: 0;
    text-align: left;
}

.portrait{
    border-radius: 100%;
    width:30vw ; 
    height : auto;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.specialtext{
    font-family: 'Oswald', serif;
}

/* Logo Styles */
.logo {
    font-family: 'Roboto', sans-serif;
}

/*Gallery Styles */
.gallery {
    display: flex;
    flex-wrap: wrap;     /* Allow wrapping of items */
    flex-direction: column;
    height: 800px; /* Adjust according to your design preference */
    align-content: start;
}

.gallery:hover .gallery__image {
    filter: grayscale(1);
}

.gallery__column {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.gallery__link {
    margin: 1px;
    overflow: hidden;
}

.gallery__link:hover .gallery__image {
    filter: grayscale(0);
}

.gallery__link:hover .gallery__caption {
    opacity: 1;
}

.gallery__thumb {
    position: relative;
}

.gallery__image {
    width: 100%;
    object-fit: cover;
    transition: .3s;
    filter: grayscale(0);
}

.gallery__image:hover {
    transform: scale(1.1);
}

.gallery__caption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px 15px 15px;
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    color: white;
    opacity: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, rgba(255, 255, 255, 0) 100%);
    transition: .3s;
}
/* Tech Page */
.resume-container {
    display: flex;
    align-items: center; /* This will vertically center the items if they have different heights */
    gap: 20px; /* This creates space between the CV thumbnail and the description */
}


/* Footer */
/* Basic styling for the tooltip */
.copyright-tooltip {
    position: relative;
    display: inline-block;
    cursor: help; /* Change cursor to a question mark on hover */
}

/* Style the tooltip text. It's hidden by default */
.copyright-tooltip::after {
    content: attr(title);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%); /* Center the tooltip */
    white-space: nowrap;
    background-color: #333; /* Dark background for the tooltip */
    color: #fff; /* White text */
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    z-index: 100; /* Place it above other elements */
    opacity: 0; /* Start with it being invisible */
    pointer-events: none; /* Don't interfere with mouse events */
    transition: opacity 0.3s; /* Smooth fade-in effect */
}

/* Show the tooltip when hovering over the parent element */
.copyright-tooltip:hover::after {
    bottom: 125%; /* Adjust as needed based on the bubble's size */
    opacity: 1; /* Make it visible */
}
.footer-navbar {
    list-style-type: none;
    display: flex;
    flex-direction: column;  /* Stack items vertically */
    align-items: left;     /* Center items horizontally */
    padding: 0;
    margin: 20px 0;
}

.footer-navbar li {
    margin: 10px 0;  /* Add space between each list item */
}

.footer-navbar a {
    text-decoration: none;
    color: #aaa; 
}

.footer-navbar a:hover {
    color: #fff;
}
